body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*taille et couleur de la div*/
.demo {
  background: rgb(255, 0, 0);
  height: 50vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
